.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    position: relative;
    
  }
  
  .imagesContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .imagesContainer::-webkit-scrollbar {
    display: inline-flex;
    
  }
  .imagesContainer{ 
    margin-left: 0%;
    overflow: auto;
  }
  
  .image {
    flex: 0 0 auto;
    width: 100%;
    height: 50vh;
    scroll-snap-align: center;
    object-fit:fill;
    
  }

  .redSquare {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    border: 10px solid red;
    border-radius: 0;
    box-sizing: border-box;
  }

  